

@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

@import url('/CSS/fonts.css');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #051b16;
    --body-font-color: #515151;
	--text-gray: #696b6d;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #17d4b5;


	--Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;

}





.global-headline{
    text-align: center;margin-top: 3.9rem;
}

.discover-our-story .global-headline{
    margin-top: 4.9rem;
}

.global-headline .asterisk{
    color: var(--midnight);
    margin-top: 2.4rem 0;
}

.headline-dark{
    color: var(--main-font-color-dark);
    letter-spacing: .1rem;
    margin-right: -.7rem;
    font-size: 2rem;
}

.global-headline .sub-headline{
    letter-spacing: .1rem;
    font-size: 3rem;
}

.restaurant-info{
    text-align: center;
}

.restaurant-description{
    margin-bottom: 3rem;
}

.restaurant-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
    font-size: 1.5rem;
}


.box{
    position: relative;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,300px));
    row-gap:10px ;
    column-gap: 10px;
}

.box img{
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    overflow: hidden;
    border-radius: 1rem;
}
.box img:hover{
    transform: scale(1.3);
}
